@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');




@media(min-width:360px){
    .card-columns{
        column-count: 2;
    }
}
@media(min-width:576px){
    .card-columns{
        column-count: 2;
    }
}
@media(min-width:768px){
    .card-columns{
        column-count: 2;
    }
}
@media(min-width:992px){
    .card-columns{
        column-count: 2;
    }
}
@media(min-width:1200px){
    .card-columns{
        column-count: 2;
    }
}







html{
    scroll-behavior: smooth;
}
body{
    font-family:'Manrope', sans-serif;
    font-weight:700;
    color:#adb5bd;
    line-height:32px;
}
h1{
    font-size: 3rem;
}
h1, h2, h3{
    color:#4e4e4e;
    font-weight:800;
    /* margin-bottom: 32px; */
}
section{
    padding-top: 200px;
    padding-bottom: 200px;
}
button{
    font-weight: 700 !important;
}
.font-color-main{
    color:#697BFF;
}
.border-color-main{
    border: 1px solid #697BFF !important;
}
.btn-main{
    color: #ffffff;
    background-color:#697BFF;
    border-color:#697BFF;
}
.btn-muted{
    color:#ffffff;
    background-color:#adb5bd;
    border-color:#adb5bd;
}
.btn-main:hover i, .btn-muted:hover i {
    margin-right: 20px !important;
}
.btn-main:hover, .btn-muted:hover{
    color: #ffffff;
}
.play-btn{
    background-color:#697BFF;
    border-color: #697BFF;
}
.play-btn:hover {
    transform: scale(1.1);
    color:#697BFF;
    background-color:#FFF;
    border-color: #697BFF;
}
.translate-hover:hover{
    transform: translateY(-1em);
}
.scale-hover:hover{
    transform: scale(1.1);
}
.play-btn:hover, 
.shadow-hover:hover,
.btn-main:hover i,
.btn-muted:hover i{
    transition: 0.4s cubic-bezier(.57,.6,.73,.71);
}
.accordion{
    border-color: #697BFF !important;
}
.accordion .card .card-header .btn-link, .accordion .collapse{
    color: #697BFF !important;
}
.accordion .card-header{
    background-color:#FFFFFF;
}
.nav-link:hover{
    color: #697BFF !important;
    transform: translateY(-0.2em);
}
#temp{
    background-image: url(./img/black-switch-wallpaper.jpg);
    height:100%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
